#image-track {
    display: flex;
    gap: 4vmin;
    align-items: center;
    transform: translate(50%, 0%);
    -webkit-transform: translate(50%, 0%);
    -moz-transform: translate(50%, 0%);
    -ms-transform: translate(50%, 0%);
    -o-transform: translate(50%, 0%);
}

#image-track .image-track-individual {
    width: 60vmin;
    height: 50vmin;
    object-fit: cover;
    object-position: center;
}

#image-track .image-track-individual {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}