---
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseCard from "../components/BaseCard.astro";
import TimeLine from "../components/page/TimeLine.astro";
---

<!doctype html>
<BaseLayout PageID="about">
  <BaseCard title="About Frosti">
    <h1 id="h1">About Frosti</h1>
    <hr />
    <h2 id="h2">Brief introduction</h2>
    <p>
      Hi everyone, my name is Jasmine Tang. I'm currently an EECS undergraduate at Berkeley.
      My main interest is in Algorithms and Compilers.
    </p>

    <hr/>
    <ul class="timeline timeline-vertical">
      <li>

        <TimeLine time="2024 - To Date">
          Chasing new, wonderful opportunities :)
        </TimeLine>
        <hr class="bg-neutral-content">
      </li>
      <li>
        <hr class="bg-neutral-content">
        <TimeLine time="2023" check="true">
          Accepted and transferred to UC Berkeley, studying in EECS department.
        </TimeLine>
        <hr class="bg-primary" />
      </li>
      <li>
        <hr class="bg-primary" />
        <TimeLine time="2019-2023" check="true" left="true">
          Moved to the US, worked and studied at Santiago Canyon College, Orange, CA</TimeLine
        >
        <hr class="bg-primary" />
      </li>
      <li>
        <hr class="bg-primary" />
        <TimeLine time="2001 - 2019 " left="true" check="true">
          Born & raised in Viet Nam.</TimeLine
        >
      </li>

      <!--<li>-->
      <!--  <hr class="bg-neutral-content" />-->
      <!--  <TimeLine time="WAITING"> Add Table of Contents.</TimeLine>-->
      <!--</li>-->
    </ul>
    <hr/>
  </BaseCard>
</BaseLayout>

<style></style>
