  ---
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseCard from "../components/BaseCard.astro";
---

<!doctype html>
<BaseLayout PageID="home">
  <BaseCard image="/home.webp" title="home">
    <h1 id="h1">🧊 Welcome!</h1>
    <hr />

    <p>
     Welcome to my personal website/blog/portfolio.

      This is on-going work.


    </p>

    <p>
      Please visit xyz for xyz
    </p>
    <!--<h2>Key Features:</h2>-->

    <!--<ul>-->
    <!--  <li>-->
    <!--    <strong>Simplicity:</strong> Frosti boasts a minimalist design that puts-->
    <!--    your content front and center.-->
    <!--  </li>-->
    <!--  <li>-->
    <!--    <strong>Speed:</strong> With excellent loading times, Frosti ensures that-->
    <!--    your readers won't be kept waiting.-->
    <!--  </li>-->
    <!--  <li>-->
    <!--    <strong>Day/Night Modes:</strong> Enjoy reading your favorite blogs in both-->
    <!--    light and dark modes for enhanced comfort.-->
    <!--  </li>-->
    <!--  <li>-->
    <!--    <strong>Component Rich:</strong> Frosti comes equipped with a variety of-->
    <!--    components to enrich your articles and pages.-->
    <!--  </li>-->
    <!--  <li>-->
    <!--    <strong>Comment System:</strong> Built-in comment system powered by <a-->
    <!--      href="https://waline.js.org/">Waline</a-->
    <!--    > for easy interaction with your readers.-->
    <!--  </li>-->
    <!--  <li>-->
    <!--    <strong>Stylish Design:</strong> Crafted with <a-->
    <!--      href="https://tailwindcss.com/">Tailwind CSS</a-->
    <!--    > and <a href="https://daisyui.com/">daisyUI</a>, Frosti offers visually-->
    <!--    appealing pages that captivate your audience.-->
    <!--  </li>-->
    <!--</ul>-->


  </BaseCard>
</BaseLayout>
