---
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseCard from "../components/BaseCard.astro";
import FriendCard from "../components/page/FriendCard.astro";
---

<!doctype html>
<BaseLayout PageID="outward">
  <BaseCard title="outward">
    <h1 id="h1" class="mb-0 pb-0 m-0" >Outward bounds</h1>
    <p id="p" class="m-0 italic">Where I link extra informations</p>

    <hr />
    <div class="grid grid-cols-2 gap-4">
      <FriendCard
        title="My resume"
        desc="Link to resume via overleaf.com"
        url="https://www.overleaf.com/read/bzvddqdhfdqp"
        img="https://images.ctfassets.net/nrgyaltdicpt/6qSXAo1CYEeBn5RkKLOR64/19c74bfb9a32772e353ff25c6f0070f5/ologo_square_colour_light_bg.png"
      />
      <FriendCard
        title="My Leetcode profile"
        desc="Links to my leetcode profile"
        url="https://www.saroprock.com"
        img="/leetcode.png"
      />
      <FriendCard
        title="My GitHub"
        img="https://avatars.githubusercontent.com/u/28776842?v=4"
        desc="Justttt my github :)"
        badge=""
        url="https://github.com/badumbatish"
      />
      <FriendCard
          title="Transfer Student"
          img="/transfer_talk.png"
          desc="Transfer Students discord :)"
          badge=""
          url="discord.gg/transferstudents"
      />

    </div></BaseCard
  >
</BaseLayout>
