---
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseCard from "../components/BaseCard.astro";
---

<!doctype html>
<BaseLayout PageID="project">
  <BaseCard title="Project">
    <h1 id="h1">Projects</h1>
  </BaseCard>
  <hr/>
  <BaseCard title="Experience">
    <h1 id="h1">Experiences</h1>
  </BaseCard>
</BaseLayout>
