---
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseCard from "../components/BaseCard.astro";
---
<BaseLayout PageID="Statistics">
    <BaseCard>
        <h1>On-going work</h1>
        <p>This page presents live statistics from different sources about my activity.</p>

    </BaseCard>

</BaseLayout>